@font-face {
	src: url(fonts/CutiveMono-Regular.ttf);
	font-family: cutive;
}

@font-face {
	src: url(fonts/ShareTechMono-Regular.ttf);
	font-family: sharetechmono;
}

body {
	background: #e4dfdc;	
}



.div2, .div3, .div4, .div5, .div6{
	position: absolute;
	font-family: cutive;
	font-size: 22px;
	left: 100px;
	text-shadow: 0px 0px 1.5px;
	box-shadow: 0px 0px 20px
				rgba(0, 0, 0, 0.25);
	padding: 5px;
	border-radius: 4px;
	transition-property: transform;
	transition-duration: 300ms;

}

.div1 {
	position: absolute;
	top: 130px;
	left: 100px;
	font-size: 30px;
	font-family: cutive;
	text-shadow: 0px 0px 2.5px;
	transition-property: transform;
	transition-duration: 300ms;
}

.div2 {
	top: 185px;
}

.div3 {
	top: 235px;
}

.div4 {
	top: 285px;

}
.div5 {
	top: 335px;
}
.div6 {
	top: 385px;
}
span {
	color: #ab2323;
	font-family: sharetechmono;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: green;
	font-size: 25px;
}
.container {
	position: relative;

}
.div2:hover {
	transform: scale(1.1);
}
.div1:hover {
	transform: scale(1.1);
}
.div3:hover {
	transform: scale(1.1);
}
.div4:hover {
	transform: scale(1.1);
}
.div5:hover {
	transform: scale(1.1);
}
.div6:hover {
	transform: scale(1.1);
}



