@font-face {
	src: url(fonts/Mali-Regular.ttf);
	font-family: mali;
}

@font-face {
	src: url(fonts/CedarvilleCursive-Regular.ttf);
	font-family: cedarville;
}
@font-face {
	src: url(fonts/VarelaRound-Regular.ttf);
	font-family: valera;
}
@font-face {
	src: url(fonts/CutiveMono-Regular.ttf);
	font-family: cutive;
}

* {
	margin: 0px;
	padding: 0px;
}

/*nav {
	height: 70px;
	width: 100%;
	background-color: #770c0cf5;
	position: fixed;
	
	text-shadow: 0px 0px 1px;
	transition-property: background;
	transition-duration: 1500ms;

}
nav:hover {
	background-color: #4a4441f5;
}*/

nav {
	height: 55px;
	width: 85%;
	margin-left: 100px;
	background: #b10c0c;
	margin-top: 15px;
	box-shadow: 0px 0px 25px
			rgba(0, 0, 0, 0.75);
	border-radius: 7px;
	transition-property: background;
	transition-duration: 800ms;
}
nav:hover {
	background: #795548;
}
nav ul li {
	list-style: none;
	display: inline-block;
	line-height: 55px;

}


nav ul li a {
	text-decoration: none;
	font-family: valera;
	color: #24bbcc;
	padding-left: 30px;
	font-size: 20px;
}
nav ul li a:hover {
	color: black;
	font-size: 24px;
	font-family: cutive;
}


.pratik {
	margin-left: 30px;
	font-size: 40px;
	font-family: cedarville;
	color: black;	
}

